fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

langchain
langchain-core
langchain-community
langchain-ollama

chromadb
pymupdf
pypdf

rank-bm25
sentence-transformers

pytest
httpx
Pillow
faiss-cpu